#container {
    width: 100%;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
}

#nav {
    position: relative;
    margin-top: 110px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.menu {
	margin-bottom: 25px;
}

.app {
	margin-top: 25px;
	width: 100%;
	height: 100%;
}

.pagina {
	border:solid 1px #DFDFDF;
	padding:25px !important;
}

li.list-group-item.active {
    color: #009933;
	background-color: white;
	border-color: #009933;
    border-left:solid 10px #009933;
}

li a {
	color: #212529;
}

li a:hover {
	text-decoration: none;
}

h4 {
	color: #009933 !important;
}

a {
    cursor: pointer;
    color: darkblue;
    transition: 0,5s ease;
}
